<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>新年快乐</title>
		<link rel="stylesheet" href="rotate.css">
		<audio id="bgmusic" src="audios/music.mp3" autoplay="autoplay" loop="loop" style="display: block; width: 3%; height:3%;"></audio>
		<script type="text/javascript">
			function toggleSound() {
				var music = document.getElementById("bgmusic");//获取ID
				console.log(music);
				console.log(music.paused);
				if (music.paused) { //判读是否播放
					music.paused=false;
					music.play(); //没有就播放
				}
			}
			setInterval("toggleSound()",1);
		</script>
	</head>

	<body>
		<div id="box">
			<img src="images/1.jpg" alt="你陪着我的时候，我从没羡慕过任何人。" title="自信"/>
			<img src="images/2.jpg" alt="你其实很幸福，只是你没注意到而已" title="幸福"/>
			<img src="images/3.jpg" alt="佛祖保佑，永无bug" title="成功"/>
			<img src="images/4.jpg" alt="无论你什么时候开始，重要的是开始之后就不要停止" title="坚持"/>
			<img src="images/5.jpg" alt="最美的年纪遇见了最美的你，我们一起努力成就梦想" title="努力"/>
			<img src="images/6.jpg" alt="只要心存希望，就不会绝望" title="坚强"/>
			<img src="images/7.jpg" alt="逆风的方向，更适合飞翔" title="乐观"/>
			<img src="images/8.jpg" alt="愿你自强到无需人宠，但幸运到依旧有人宠" title="幸运"/>
			<img src="images/9.jpg" alt="总有一段路是一个人走，一个人坚强，一个人勇敢" title="勇敢"/>
			<img src="images/10.jpg" alt="像明日将死一样活着，像永远不死那样读书" title="聪慧"/>
			<img src="images/11.jpg" alt="不能陪你走一生，也要陪你走一程" title="爱你"/>
		</div>

        <div class="hovertree"></div>
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/jquery.fireworks.js"></script>
		<script type="text/javascript">
			$('.hovertree').fireworks({
			  sound: true, // sound effect
			  opacity: 0.5,
			  width: '100%',
			  height: '100%'
			});
		</script>
	</body>
</html>
