<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新年快乐</title>
    <style>
        body{
            background-image: url("source/images/background.jpg");
            background-size: cover;
        }
        a{
            font-size: 200px;
            color: red;
            text-decoration: none;
            position: absolute;
            top: 250px;
            left: 400px;
            font-family:STKaiti;
        }

    </style>
</head>
<body>
    <a href="source/index1.html"  target="_self">新年快乐</a>
</body>
</html>
